table{
  background-color:green;
}
table>tbody{
  color: blue;
}
.cards_container{
display: flex;
justify-content: space-around;

}
.card{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
